body {
  margin: 20px;
  font-size: 30px;
  color: black;
  overflow: hidden;
  height: 100vh;
}

.pictures {
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.pictures img {
  width: 350px;
  height: auto;
}
