body {
  margin: 20px;
  font-size: 24px;
  color: black;
  overflow: hidden;
  height: 100vh;
}

.pictures {
  display: flex;
  justify-content: center;  
  align-items: center; 
  width: 100%;
  max-width: 100vw;
}

.pictures img {
  width: 400px;
  height: auto;
}
